.event-panorama {
    position: relative;

    img {
        width:80vw;
        height:60vh;
        z-index: -1;
    }
}

.inside-img {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);

    a {
        font-size: 1.5rem;
    }

    h2 {
        color:$white;
        font-size: 2.5rem;
    }
}

.center-button{
    display:flex;
    justify-content: center;
}

.events{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}