.footer{
    display:flex;
    
    
    &-logo{
        justify-content: center;
        padding: 3rem 0 5rem 0;
    }

    &-categories{
        justify-content: space-evenly;
    }

    &-category {
        flex-direction: column;
        width:10vw;
        
        a{ 
            font-weight:400;
            padding:0.75rem 0;
        }
    }
}